$btn-color:$base-accent-color;
$btn-alt-color:$base-color;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: em(17);
  font-weight: bold;
  line-height: normal;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:after {
    content: '';
  }
}

.btn {
  @extend %button;
  padding:em(19,17) em(49,17);
  background-color: $light-blue;
  color: $white;
  &:hover {
    background-color:$green;
    color: $white;
  }
  &:focus {
    background-color: $light-blue;
    color: $white;
  }
}

.btn-sm{
  @extend %button;
  padding:em(14,17) em(44,17);
  background-color: $blue;
  color: $white;
  &:hover {
    background-color:$green;
    color: $white;
  }
  &:focus {
    background-color: $blue;
    color: $white;
  }
}

.btn-color-lg{
  @extend %button;
  padding:em(19,17) em(49,17);
  background-color: $white;
  color: $blue;
  &:hover {
    background-color:$green;
    color: $white;
  }
  &:focus {
    background-color: $white;
    color: $blue;
  }
}

.btn-color-sm{
  @extend %button;
  padding:em(14,17) em(50,17);
  background-color:$green;
  color: $white;
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
  &:focus {
    background-color:$green;
    color: $white;
  }
}

.btn-alt {
  @extend %button;
  background-color: $btn-alt-color;
  &:hover {
    background-color: darken($btn-alt-color, 10%);
  }
  &:after {
    background-color: darken($btn-alt-color, 10%);
  }
}


button,
input[type="submit"] {
  @extend .btn;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-link-color;
    outline-offset: 2px;
  }
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-right: 4em;
  &:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-arrow {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}

.btn-alt-arrow {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}
