.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  //@include display(flex); //sticky footer
  //@include flex-direction(column); //sticky footer
  //min-height: 100%; //sticky footer
}

/*========== Accessible website starts ==========*/
#skipToContent {
  position: fixed;
  z-index: 0;
  top: 10px;
  left: 10px;
  opacity: 0;
  &:focus {
    opacity: 1;
    z-index: 99999;
  }
}

.site-nav-container {
    .site-nav a {
        &:focus:not(:active) {
          outline-offset: -2px;
        }
        &.tse-remove-border {
          &:focus:not(:active) {
            outline: none;
            outline-offset: 0;
          }
        }
    }
}

.nonlink {
  cursor: default;
  pointer-events: none;
}

.lightbox {
  &.tse-remove-border {
    outline: none !important;
    &:focus {
      outline: none !important;
    }
  }
}

.tse-remove-border {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

/*=============== Site Header ===============*/
.site-header-wrap {}

.site-header { 
  @include transition(all .25s linear);
  
  @include mq(large) {
    height: em(227);
  }
}

.sh-top-nav{
  width: 100%;
  background-color: $white;
  .inner-wrap{
    padding-top: em(20);
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  @include mq(large) {
   .inner-wrap{
    padding-top: em(21);
    padding-bottom: em(21);
    padding-left: em(24);
    padding-right: em(24);
  } 
  }
}

.site-logo{
  max-width: em(147);
  width: 100%;
  display: table;
  margin:0 auto;
  margin-bottom: em(20);
  img{
    display: block;
    height: 125px;
    width: 182px;
    @media (max-width: 960px){
    height: 101px;
    width: 147px;
    }
  }
  @include mq(large) {
    max-width: em(182);
    width: 100%;
    display: inline-block;
    float: left;
    margin:0;
  }
  @include mq(xlarge) {
    position: relative;
    left: em(-2);
  }
}

.sh-utility-nav {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  @include transition(all .25s linear);
  background-color: $blue;
  padding-left: em(16);
  @include mq(large) {
    background-color: $white;
    display: block;
    width: calc(100% - 11.375em);
    float: right;
    text-align: right;
    padding-top: em(33);
    padding-left: 0;
  }
}

.sh-email{
  display: inline-block;
  width: em(20);
  height: em(60);
  background-image: url(img/mail-white.svg);
  background-repeat: no-repeat;
  background-size: em(20) em(16);
  background-position: center;
  span{
    display: none;
  }
  @include mq(large) {
    width: auto;
    height: auto;
    background-image: none;
    vertical-align: middle;
    font-size: em(20);
    color: $gray;
    font-weight: 700;
    text-decoration: none;
    padding-left: em(29,20);
    position: relative;
    span{
      display: inline-block;
    }
    &:before{
      content:'';
      width: em(20,20);
      height: em(16,20);
      background-image: url(img/mail.svg);
      background-repeat: no-repeat;
      background-size: em(20,20) em(16,20);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover{
      color: $green;
      &:before{
        background-image: url(img/mail-hover.svg);
      }
    }
    &:focus{
      color: $gray;
      &:before{
        background-image: url(img/mail.svg);
      }
    }
  }
}

.sh-ph{
  display: inline-block;
  width: em(18);
  height: em(60);
  background-image: url(img/phone-white.svg);
  background-repeat: no-repeat;
  background-size: em(18) em(18);
  background-position: center;
  span{
    display: none;
  }
  @include mq(large) {
    width: auto;
    height: auto;
    background-image: none;
    vertical-align: middle;
    font-size: em(20);
    color: $gray;
    font-weight: 700;
    text-decoration: none;
    padding-left: em(28,20);
    margin-left: em(20,20);
    position: relative;
    span{
      display: inline-block;
    }
    &:before{
      content:'';
      width: em(18,20);
      height: em(18,20);
      background-image: url(img/phone.svg);
      background-repeat: no-repeat;
      background-size: em(18,20) em(18,20);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover{
      color: $green;
      &:before{
        background-image: url(img/phone-hover.svg);
      }
    }
    &:focus{
      color: $gray;
      &:before{
        background-image: url(img/phone.svg);
      }
    }
  }
  @include mq(xlarge) {
    margin-left: em(60,20);
  }
}

.sh-ico-search {
    width: em(18);
    height: em(60);
    vertical-align: middle;
    background-image: url(img/search-white.svg);
    background-repeat: no-repeat;
    background-size: em(18) em(18);
    background-position: center;
    span{
      display: none;
    }
  @include mq(large) {
    height: em(18);
    background-image: url(img/search.svg);
    display: inline-block;
    vertical-align: middle;
    margin-left: em(20);
    
    &:hover{
      background-image: url(img/search-hover.svg);
    }
    &:focus{
      background-image: url(img/search.svg);
    }  
  }
  @include mq(xlarge) {
    margin-left: em(55); 
  }
}

.sh-rq{
  font-size: em(17);
  padding:0;
  font-weight: 700;
  background-color: $green;
  color: $white;
  max-width: em(105,17);
  width: 100%;
  line-height: em(60,17);
  text-align: center;
  vertical-align: middle;
  .sh-rq-desk{
    display: none;
  }
  .sh-rq-mob{
    display: inline-block;
  }
  &:hover{
    background-color: $gray;
    color: $white;
  }
  &:focus{
    background-color: $green;
    color: $white;
  }
  @include mq(large) {
    max-width: em(181,17);
    margin-left: em(20,17);
    .sh-rq-desk{
      display: inline-block;
    }
    .sh-rq-mob{
      display: none;
    }
  }
  @include mq(xlarge) {
    margin-left: em(75,17);
  }
}

.sh-sticky-wrap {
  @include transition(all .25s linear);
  background-color: $blue;
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
  @include mq(large) {
    height: $nav-height;
    &.stuck {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 99;
    }
  }
}


.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}



.sh-ico-menu {
  width: em(29);
  height: em(60);
  background-image: url(img/ico-nav.svg);
  background-repeat: no-repeat;
  background-size: em(29) em(29);
  background-position: center;
  display: inline-block;
  span{
    display: none;
  }
  @include mq(large) {
    display: none;
  }
}

/*=============== Site Intro ===============*/
.site-intro {
  text-align:center;
  background-color: $white;
  position: relative;
  &:before{
    content:'';
    width: 100%;
    height: 100%;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.18;
  }
  .inner-wrap {
    padding-top:em(54);
    padding-bottom:em(50);
    position: relative;
  }
  @include mq(large) {
    text-align: left;
    .inner-wrap {
    padding-top:em(140);
    padding-bottom:em(102);
    }
  }
}

.si-header{
  font-size: em(28);
  line-height: em(38,28);
  margin:0;
  padding:0 em(15,28);
  margin-bottom: em(3,28);
  @include mq(large) {
    font-size: em(45);
    line-height: em(65,45);
    margin-bottom: em(5,45);
    padding:0;
  }
  @include mq(xlarge) {
    position: relative;
    left: em(-4,45);
  }
}

.si-sub-heading{
  font-family: $header-font-family;
  font-size: em(20);
  line-height: em(30,20);
  margin:0;
  font-weight: 300;
  padding:0 em(15,20);
  margin-bottom: em(23,20);
  @include mq(large) {
    font-size: $large-font-size;
    line-height: 1.5882352941em;
    margin-bottom: em(29,28);
    padding:0;
  }
  @include mq(xlarge) {
    position: relative;
    left: em(-4,28);
  }
}

.si-mat-btn{
  padding:0;
  font-size: em(17);
  font-weight: 700;
  text-align: center;
  background-color: $light-blue;
  color: $white;
  max-width: em(161,17);
  width: 100%;
  line-height: em(60,17);
  margin-bottom: em(20,17);
  &:hover{
    background-color: $green;
    color: $white;
  }
  &:focus{
    background-color: $light-blue;
    color: $white;
  }
  @include mq(medium) {
    margin:0;
    margin-right: em(15,17);
  }
  @include mq(xlarge) {
    position: relative;
    left: em(-2,17);
  }
}

.si-rq-btn{
  padding:0;
  font-size: em(17);
  font-weight: 700;
  text-align: center;
  background-color: $green;
  color: $white;
  max-width: em(181,17);
  width: 100%;
  line-height: em(60,17);
  &:hover{
    background-color: $gray;
    color: $white;
  }
  &:focus{
    background-color: $green;
    color: $white;
  }
}

/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include flex(1 0 auto); //sticky footer
}

.site-content-primary {}

.site-content-secondary {}





/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  vertical-align: middle;
  @include mq(large) {
    width: 90%;
  }
}

.search-cell2 {
  display: table-cell;
  width: em(60);
  border: 0;
  vertical-align: middle;
  text-align: center;
  @include mq(large) {
    width: 6%;
  }
}

.search-cell3 {
  display: table-cell;
  vertical-align: middle;
  @include mq(large) {
    width: 3%;
    text-align: center;
  }
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
  &:focus{
    border:0;
    box-shadow: none !important;
  }
}

.search-submit {
  width: em(25);
  height: 2.3em;
  border: 0;
  padding:0 !important;
  background: url(img/ico-search.svg) no-repeat center center !important;
  transform: none !important;
  background-size: 1.5625em 2.3em !important;
  &:hover{
    border:0 !important;
  }
  &:focus{
    outline:none;
    border:0 !important;
  }
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-link-color;
    outline-offset: 2px;
  }
}


@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $gray;
  height: em(63);
  margin-top: em(-63);
  border-bottom: 1px solid rgba($gray, 0.47);
  position: fixed;
  left:0;
  right:0;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: em(12) 1.5em;
  }
}

.search-exit {
 img{
    width: em(19);
  }


  @include mq(large) {
    margin-bottom: 0px;
  }
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}
@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}


/*=============== Services Module ===============*/
.services-module{
  width: 100%;
  display: table;
}

.sm-item{
  background-color: $blue;
  position: relative;
  display: block;
  height: em(406);
  border:solid 1px $white;
  text-decoration: none;
  
  &:hover{
    .sm-btn{
      opacity: 1;
    }
    .sm-text{
      opacity: 0;
    }
    .sm-image{
      mix-blend-mode: normal;
      opacity: 1;
    }
  }
  &:focus{
    .sm-btn{
      opacity: 1;
    }
    .sm-text{
      opacity: 0;
    }
    .sm-image{
      mix-blend-mode: normal;
      opacity: 1;
    }
  }

  &:focus:not(:hover):not(:active) {
    outline-offset: -2px;
  }
  @include mq(medium) {
    width: 50%;
    float: left;
  }
  @include mq(medium) {
  height: em(326);
  }
  @include mq(large) {
    height: em(406);
    width: 33.33%;
    border:0;
    border-right:solid 1px $white;
    border-top:solid 1px $white;
    &:nth-of-type(3n){
      border-right:0;
    }
  }
}

.sm-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  @include transition (all .1s linear);
}

.sm-text{
  @include transition (all .1s linear);
  font-size:$medium-font-size;
  font-family: $header-font-family;
  font-weight: 700;
  opacity: 1; 
  color: $white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin:0 auto;
  text-align: center;
  width: 100%;
  padding: 0 em(15,24);
}

.sm-btn{
  padding:0;
  font-size: em(17);
  font-weight: 700;
  text-align: center;
  background-color: $green;
  color: $white;
  max-width: em(144,17);
  width: 100%;
  line-height: em(60,17);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin:0 auto;
  @include transition (all .1s linear);
  opacity: 0;
  &:hover{
    background-color: $green;
    color: $white;
  }
  &:focus{
    background-color: $green;
    color: $white;
  }
   
}

/*=============== Material Module ===============*/
.material-module{
  padding-top: em(61);
  padding-bottom: em(108);
}

.mm-heading{
  font-size: $xlarge-font-size;
  color: $blue;
  text-align: center;
  margin-bottom: em(51,35);
}

.mm-tabs{
  .accordion-tabs{
    margin-bottom: 0;
    position: relative;
    .tab-header-and-content{
      .tab-link{
        font-size: em(25);
        font-weight: 300;
        background-color: $off-white;
        color: $gray;
        padding: em(16,25) em(16,25);
        border-bottom: solid 1px $white; 
        &.is-active{
          font-size: em(25);
          background-color: $green;
          color: $white;

        }
        &:focus:not(:hover):not(:active) {
          outline-color: $light-blue;
          outline-offset: -2px;
        }
      }
    }
    .tab-content {
      background-color: $white;
    }
  }

  @include mq(large) {
    .accordion-tabs{
      .tab-header-and-content{
        .tab-link{
        padding: 0;
        margin:0;
        font-size: em(20);
        max-width: em(230,20);
        line-height: em(80,20);
        width: 100%;
        margin-bottom: 1px;
        position: absolute;
        border-bottom: 0;
        &:before{
          content:'';
          width: 100%;
          height: 1px;
          background-color: $white;
          position: absolute;
          bottom: -1px;
          left: 0;
        }
        &:after{
          content:''; 
        }
        &.is-active{
          padding: 0;
          font-size: em(20);
          &:after{
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            border-top: em(40,20) solid transparent;
            border-bottom: em(40,20) solid transparent; 
          }
        }
      }
      &:nth-of-type(1){
        .tab-link{
         top: 0;
         left: 0;
         padding-left: em(15,20);
         &.is-active{
          padding-left: em(15,20);
          &:after{
            border-left: em(41,20) solid $green;
            right: em(-41,20); 
          }
         } 
        }
      }
      &:nth-of-type(2){
        .tab-link{
         top: em(81,20);
         left: 0; 
         padding-left: em(15,20);
         &.is-active{
          padding-left: em(15,20);
          &:after{
            border-left: em(41,20) solid $green;
            right: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(3){
        .tab-link{
         top: em(162,20);
         left: 0; 
         padding-left: em(15,20);
         &.is-active{
          padding-left: em(15,20);
          &:after{
            border-left: em(41,20) solid $green;
            right: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(4){
        .tab-link{
         top: em(243,20);
         left: 0; 
         padding-left: em(15,20);
         &.is-active{
          padding-left: em(15,20);
          &:after{
            border-left: em(41,20) solid $green;
            right: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(5){
        .tab-link{
         top: em(324,20);
         left: 0; 
         padding-left: em(15,20);
         &.is-active{
          padding-left: em(15,20);
          &:after{
            border-left: em(41,20) solid $green;
            right: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(6){
        .tab-link{
         top: em(405,20);
         left: 0; 
         padding-left: em(15,20);
         &.is-active{
          padding-left: em(15,20);
          &:after{
            border-left: em(41,20) solid $green;
            right: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(7){
        .tab-link{
         top: 0;
         right: 0; 
         padding-right: em(15,20);
         text-align: right;
         &.is-active{
          padding-right: em(15,20);
          &:after{
            border-right: em(41,20) solid $green;
            left: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(8){
        .tab-link{
         top: em(81,20);
         right: 0; 
         padding-right: em(15,20);
         text-align: right;
         &.is-active{
          padding-right: em(15,20);
          &:after{
            border-right: em(41,20) solid $green;
            left: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(9){
        .tab-link{
         top: em(162,20);
         right: 0; 
         padding-right: em(15,20);
         text-align: right;
         &.is-active{
          padding-right: em(15,20);
          &:after{
            border-right: em(41,20) solid $green;
            left: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(10){
        .tab-link{
         top: em(243,20);
         right: 0;
         padding-right: em(15,20); 
         text-align: right;
         &.is-active{
          padding-right: em(15,20);
          &:after{
            border-right: em(41,20) solid $green;
            left: em(-41,20); 
          }
         }
        }
      }
      &:nth-of-type(11){
        .tab-link{
         top: em(324,20);
         right: 0;
         padding-right: em(15,20); 
         text-align: right;
         &.is-active{
          padding-right: em(15,20);
          &:after{
            border-right: em(41,20) solid $green;
            left: em(-41,20); 
          }
         }
        }
      }
      }
      .tab-content {
        background-color: $white;
        border:0;
        min-height: em(486);
        width: calc(100% - 31.875em);
        float: none;
        margin:0 auto;
        padding: 0;
      }
    }
  }

  @include mq(xlarge) {
    .accordion-tabs{
    .tab-header-and-content{
      .tab-link{
        font-size: em(25);
        max-width: em(304,25);
        line-height: em(80,25);
        &.is-active{
          font-size: em(25);
          &:after{
            border-top: em(40,25) solid transparent;
            border-bottom: em(40,25) solid transparent; 
          }
        }
      }
      &:nth-of-type(1){
        .tab-link{
         padding-left: em(28,25);
         &.is-active{
          padding-left: em(28,25);
          &:after{
            border-left: em(41,25) solid $green;
            right: em(-41,25); 
          }
         } 
        }
      }
      &:nth-of-type(2){
        .tab-link{
         top: em(81,25);
         left: 0; 
         padding-left: em(28,25);
         &.is-active{
          padding-left: em(28,25);
          &:after{
            border-left: em(41,25) solid $green;
            right: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(3){
        .tab-link{
         top: em(162,25);
         left: 0; 
         padding-left: em(28,25);
         &.is-active{
          padding-left: em(28,25);
          &:after{
            border-left: em(41,25) solid $green;
            right: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(4){
        .tab-link{
         top: em(243,25);
         left: 0; 
         padding-left: em(28,25);
         &.is-active{
          padding-left: em(28,25);
          &:after{
            border-left: em(41,25) solid $green;
            right: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(5){
        .tab-link{
         top: em(324,25);
         left: 0; 
         padding-left: em(28,25);
         &.is-active{
          padding-left: em(28,25);
          &:after{
            border-left: em(41,25) solid $green;
            right: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(6){
        .tab-link{
         top: em(405,25);
         left: 0; 
         padding-left: em(28,25);
         &.is-active{
          padding-left: em(28,25);
          &:after{
            border-left: em(41,25) solid $green;
            right: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(7){
        .tab-link{
         top: 0;
         right: 0; 
         padding-right: em(28,25);
         text-align: right;
         &.is-active{
          padding-right: em(28,25);
          &:after{
            border-right: em(41,25) solid $green;
            left: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(8){
        .tab-link{
         top: em(81,25);
         right: 0; 
         padding-right: em(28,25);
         text-align: right;
         &.is-active{
          padding-right: em(28,25);
          &:after{
            border-right: em(41,25) solid $green;
            left: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(9){
        .tab-link{
         top: em(162,25);
         right: 0; 
         padding-right: em(28,25);
         text-align: right;
         &.is-active{
          padding-right: em(28,25);
          &:after{
            border-right: em(41,25) solid $green;
            left: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(10){
        .tab-link{
         top: em(243,25);
         right: 0;
         padding-right: em(28,25); 
         text-align: right;
         &.is-active{
          padding-right: em(28,25);
          &:after{
            border-right: em(41,25) solid $green;
            left: em(-41,25); 
          }
         }
        }
      }
      &:nth-of-type(11){
        .tab-link{
         top: em(324,25);
         right: 0;
         padding-right: em(28,25); 
         text-align: right;
         &.is-active{
          padding-right: em(28,25);
          &:after{
            border-right: em(41,25) solid $green;
            left: em(-41,25); 
          }
         }
        }
      }
    }
    .tab-content {
      width: calc(100% - 38em);
    }
    }
  }

  @include mq(mediumv) {
    .accordion-tabs{
    .tab-header-and-content{
      .tab-link{
        &:before{
          bottom:0;
        }
      }
      &:nth-of-type(1){
        .tab-link{
         &.is-active{
          &:after{
            right: -30px; 
          }
         } 
        }
      }
      &:nth-of-type(2){
        .tab-link{ 
         &.is-active{
          &:after{ 
            right: -30px;
          }
         }
        }
      }
      &:nth-of-type(3){
        .tab-link{
         &.is-active{
          &:after{
            right: -30px; 
          }
         }
        }
      }
      &:nth-of-type(4){
        .tab-link{
         &.is-active{
          &:after{
            right: -30px;
          }
         }
        }
      }
      &:nth-of-type(5){
        .tab-link{
         &.is-active{
          &:after{
            right: -30px;
          }
         }
        }
      }
      &:nth-of-type(6){
        .tab-link{
         &.is-active{
          &:after{
            right: -30px;
          }
         }
        }
      }
      &:nth-of-type(7){
        .tab-link{
         top: 0;
         &.is-active{
          &:after{
            left: -30px;
          }
         }
        }
      }
      &:nth-of-type(8){
        .tab-link{
         &.is-active{
          &:after{
           left: -30px;
          }
         }
        }
      }
      &:nth-of-type(9){
        .tab-link{
         &.is-active{
          &:after{
            left: -30px;
          }
         }
        }
      }
      &:nth-of-type(10){
        .tab-link{
         &.is-active{
          &:after{
           left: -30px;
          }
         }
        }
      }
      &:nth-of-type(11){
        .tab-link{
         &.is-active{
          &:after{
            left: -30px;
          }
         }
        }
      }
    }
    }
  }
}



.mm-cont-wrap{
  width: 100%;
  display: table;
  
  @include mq(large) {
    padding-top: em(60);
    padding-left: em(15);
    padding-right: em(15);
  }
  @include mq(xlarge) {
    padding-top: em(82);
    padding-left: em(81);
    padding-right: em(76);
  }
}

.mm-img{
  width: em(280);
  height: em(280); 
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin:0 auto;
  
  @include mq(medium) {
    float: left;
    margin:0;
  }
  @include mq(large) {
    width: em(250);
    height: em(250);
  }
  @include mq(xlarge) {
    width: em(280);
    height: em(280); 
  }
}

.mm-cont{
    padding-top: em(30);
    text-align: center;
  @include mq(medium) {
    width: calc(100% - 17.5em);
    float: right;
    padding-top: em(13);
    padding-left: em(20);
    text-align: left;
  }
  @include mq(large) {
    width: calc(100% - 15.625em);
    padding-left: em(15);
  }
  @include mq(xlarge) {
    width: calc(100% - 17.5em);
    padding-left: em(39);
  }
}

.mm-title{
  font-size: $large-font-size;
  font-weight: 400;
  margin-bottom: em(4,28);
}

.mm-desc{
  font-size: em(17);
  line-height: em(27,17);
  margin:0;
  margin-bottom: em(30,17);
  @include mq(medium) {
    margin-bottom: em(42,17); 
  }
}

.mm-btn{
  padding:0;
  font-size: em(17);
  font-weight: 700;
  max-width: em(142,17);
  width: 100%;
  line-height: em(60,17);
  background-color: $light-blue;
  color: $white;
  text-align: center;
  
  &:hover{
    background-color:$green;
    color: $white;
  }
  &:focus{
    background-color: $light-blue;
    color: $white;
  }

  @include mq(large) {
    margin-left: em(3,17);
  }
}


/*=============== Product Module ===============*/
.product-module{
  width: 100%;
  border-top: solid 1px #cccccc;
  padding-top: em(39);
}

.pm-heading{
  font-size: $xlarge-font-size;
  color: $blue;
  text-align: center;
  padding: 0 em(16,35);
  margin-bottom: em(33,35);
  @include mq(medium) {
    padding: 0;
  }
}

.pm-wrapper{
  width: 100%; 
  background-color: $milky-white;
  position: relative;
  
  @include mq(large) {
    display: table;
    &:nth-of-type(2){
    .pm-img-wrap{
      right: auto;
      left: 0;
      &:before{
        border-right: em(42) solid $milky-white;
        left:auto;
        right: 0;
        border-left:0;
      }
    }
    .pm-cont-wrap{
      float: right;
      padding: em(50);
    }
    .pm-btn{
      max-width: em(325,17);
    }
    }
  }
  @include mq(xlarge) {
    &:nth-of-type(2){
      .pm-cont-wrap{
        padding-top: em(68);
        padding-left: em(58);
        padding-right: em(110);
        padding-bottom: em(74);
      }
    }
  }
}

.pm-cont-wrap{
  
  padding: em(50);
  @include mq(large) {
    width: 50%;
    float: left;
  }
  @include mq(xlarge) {
    padding-top: em(85);
    padding-left: em(108);
    padding-right: em(70);
    padding-bottom: em(89);
  }
}

.pm-img-wrap{
  position: relative;
  &:before{
    content:'';
    width: 0;
    height: 0;
    border-left: em(41) solid transparent;
    border-right: em(41) solid transparent;
    border-bottom: em(41) solid $milky-white;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include mq(large) {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    &:before{
      content:'';
      width: 0;
      height: 0;
      border-top: em(41) solid transparent;
      border-left: em(42) solid $milky-white;
      border-bottom: em(41) solid transparent;
      border-right: 0; 
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: auto;
      margin:0;
      bottom: auto;
      z-index: 1;
    }
  }
}

.pm-img {
  width: 100%;
  display: block;
  @include mq(large) {
  position: absolute;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  width: auto;
  }
}

.pm-title{
  font-size: $large-font-size;
  font-weight: 700; 
  margin-bottom: em(8,28);
}

.pm-desc{
  font-size: em(17);
  line-height: em(27,17);
  margin:0;
  margin-bottom: em(28,17);
}

.pm-btn{
  font-size: em(17);
  font-weight: 700;
  padding:em(15,17); 
  text-align: center;
  background-color: $light-blue;
  color: $white;
  line-height: normal;
  &:hover{
    background-color: $green;
    color: $white;
  }
  &:focus{
    background-color: $light-blue;
    color: $white;
  }
  @include mq(medium) {
    padding:0;
    max-width: em(369,17);
    width: 100%;
    line-height: em(60,17);
  }
}

.pm-list{
  margin-bottom: em(23);
  width: 100%;
  display: table;
  li{
    
    margin-bottom:em(31);
    a{
      font-size: em(19);
      line-height: em(25,19);
      font-family: $header-font-family;
      color: $gray;
      text-decoration: none;
      font-weight: 700;
      position: relative;
      display: inline-block;
      padding-bottom: em(8,19);

      &:before{
      content: '';
      width: em(50,19);
      height: em(3,19);
      background-color: $green;
      position: absolute;
      bottom: em(-1,19);
      left: 0;
      @include transition(all .25s linear);
      }

      &:hover{
        color: $green;
        &:before{
          width:100%;
        }
      }
    }
    
  }
  @include mq(medium) {
    li{
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }
  }
  @include mq(xlarge) {
    li{
      width: 50%;
      float: left;
      a{
        font-size: em(20);
        line-height: em(25,20);
        padding-bottom: em(8,20);

        &:before{
          width: em(50,20);
          height: em(3,20);
          bottom: em(-1,20);
        }
      }
    }
  }
}

/*=============== About Us Module ===============*/
.about-us-module{
  width: 100%;
  background-color: $blue;
  background-size: cover;
  position: relative;
  &:before{
    content:'';
    width: calc(100% - 1.25em);
    height: calc(100% - 1.25em);
    background:transparent;
    border:solid 1px rgba($white,0.30);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin:0 auto;
  }

  .inner-wrap{
    position: relative;
    padding-top: em(40);
    padding-bottom: em(40);
  }
  @include mq(medium) {
    .inner-wrap{
    padding-top: em(80);
    padding-bottom: em(60);
    }
  }
  @include mq(xlarge) {
    &:before{
      width: calc(100% - 5em);
      height: calc(100% - 5em);
    }
  }
}

.aum-content{
    margin-bottom: em(40);
    text-align: center;
  @include mq(medium) {
    width: calc(100% - 15.625em);
    float: left;
    padding-right: em(25);
    margin-bottom: 0;
    text-align: left;
  }
  @include mq(large) {
    padding-top: em(25);
    padding-right: 0;
  }
}

.aum-heading{
  font-size: $xlarge-font-size;
  color: $white;
  margin:0;
  text-transform: uppercase;
  margin-bottom: em(4,35);

  > img{
    width: 79px;
    height: 50px;
    object-fit: cover;
  }
}

.aum-desc{
  font-size: em(17);
  line-height: em(27,17);
  color: $white;
  margin: 0;
  max-width: em(510,17);
  width: 100%;
  margin-bottom: em(32,17);
  
}


.aum-btn{
  font-size: em(17);
  font-weight: 700;
  padding:0; 
  text-align: center;
  background-color: $white;
  color: $blue;
  line-height: em(60,17);
  max-width: em(141,17);
  width: 100%;
  &:hover{
    background-color: $green;
    color: $white;
  }
  &:focus{
    background-color: $white;
    color: $blue;
  }
}

.aum-logo-wrap{
  @include mq(medium) {
    width: em(250);
    float: right;
  }
}

.aum-item{
  max-width: em(250);
  width: 100%;
  background-color: $white;
  height: em(100);
  margin:0 auto;
  margin-bottom: em(20);
  position: relative;
  display: block;
  &:nth-of-type(1){
   .aum-item-img{
    width: em(183);
   } 
  }
  &:nth-of-type(2){
   .aum-item-img{
    width: em(183);
   } 
  }
  &:nth-of-type(3){
   .aum-item-img{
    width: em(159);
   } 
  }
}

.aum-item-img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin:0 auto;
}

/*=============== Our Blogs ===============*/
.our-blog-module{
  .inner-wrap{
    padding-top: em(62);
    padding-bottom: em(78);
  }
}

.obm-heading{
  font-size: $xlarge-font-size;
  color: $blue;
  text-transform: uppercase;
  margin-bottom: em(11,35);
  text-align: center;
}

.obm-desc{
  text-align: center;
  margin:0;
  margin-bottom: em(33,17);
}

.obm-wrap{
  width: 100%; 
  @include transition(all .25s linear);

  @include mq(large) {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.obm-item{
  margin-bottom: em(50);
  text-decoration: none;
  display: block;
  width: 100%;
  &:last-child{
    margin-bottom:0;
  }
  &:hover{
    text-decoration:none;
    .obm-link{
      color: $green;
    }
    .obm-img{
      img{
        mix-blend-mode: multiply;
        opacity: 0.55;
      }
    }
  }
  &:focus{
    text-decoration:none;
    .obm-link{
      color: $green;
    }
    .obm-img{
      img{
        mix-blend-mode: multiply;
        opacity: 0.55;
      }
    }
  }
  @include mq(medium) {
    max-width: inherit;
    width: em(500);
    margin: 0 auto;
    margin-bottom: em(50);
  }
  @include mq(large) {
    max-width: inherit;
    width: em(290);
    margin: 0;
  }
  @include mq(xlarge) {
    width: em(360);
  }
}

.obm-img{
  display: block;
  background-color: $green;
  img{
    @include transition(all .25s linear);
    display: block;
    width: 100%;
    max-height: em(194);
  }
}

.obm-title{
  font-size: em(20);
  line-height: em(25,20);
  font-weight: 700;
  margin:0;
  margin-top: em(17,20);
  margin-bottom: em(11,20);
  display: block;
  color: $gray;
}

.obm-time{
  display: inline-block;
  vertical-align: middle;
  font-size: em(15);
  line-height: em(20,15);
  padding-left: em(28,15);
  margin-right: em(34,15);
  color: $gray;
  position: relative;
  &:before{
    content:'';
    width: em(19,15);
    height: em(19,15);
    background-image: url(img/time.svg);
    background-size: em(19,15) em(19,15);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.obm-link{
  display: inline-block;
  vertical-align: middle;
  font-size: em(15);
  font-weight: 600;
  color: $light-blue;
  line-height: em(20,15);
  text-decoration: underline;
}


/*=============== Site Footer ===============*/

.site-footer {
  background-color: $gray;
  color: $white;
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }

  @include mq(large) {
    background-color: #fbfbfb;
    
  }
}

.page-id-1031{
  .site-footer {
    overflow: hidden;
  }
}

.dest-footer{
  margin-top: em(50);
}

.sf-footer{
  width: 100%;
  display: table; 
  a{
    &:focus:not(:hover):not(:active) {
    outline-offset: 0px;
    }
  } 
  @include mq(large) {
    position: relative;
    &:after{
      content:'';
      width: 100%;
      height: 100%;
      background-color: $gray;
      position: absolute;
      top: 0;
      right:-100%;
    } 
  }

}

.sf-logo-wrap{
  position: relative;
  background-color: #fbfbfb;
  padding: em(20) 0;
  text-align: center;
    &:before{
      content:'';
      width: 100%;
      height: 100%;
      background-color: #fbfbfb;
      position: absolute;
      top: 0;
      left: -100%
    }
    &:after{
      content:'';
      width: 100%;
      height: 100%;
      background-color: #fbfbfb;
      position: absolute;
      top: 0;
      right: -100%
    }
    a{
      display: inline-block;
    }

  @include mq(large) {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    padding: 0;
    text-align: left;
    &:before{
      display:none;
    }
    &:after{
      display:none;
    }
  }
  @include mq(xlarge) {
    width: em(394);
  }
}

.sf-logo{
  max-width: em(253);
  width: 253px;
  display: block;
  margin:0 auto;
  height: 174px;
  @include mq(large) {
    margin:0;
  }
}

.sf-links-one{
  background-color: $gray;
  padding-top: em(20);
   text-align: center;
  
  @include mq(medium) {
    width: 33.33%;
    float: left;
    padding-bottom: em(20);
    text-align: left;
  }
  @include mq(large) {
    display: table-cell;
    vertical-align: top;
    float: none;
    border-right: solid 1px rgba($off-white,0.22);
    width: 22.33%;
    padding-top: em(41);
    padding-left: em(30);
    padding-bottom: em(74); 
  }
  @include mq(xlarge) {
    padding-left: em(60);
    width: em(250);
  }
}

.sf-links-two{
  background-color: $gray;
  padding-top: em(20);
  text-align: center;
  @include mq(medium) {
  width: 33.33%;
  float: left;
  text-align: left;
  }
  @include mq(large) {
  display: table-cell;
  vertical-align: top;
  float: none;
  border-right: solid 1px rgba($off-white,0.22);
  width: 22.33%;
  padding-top: em(41);
  padding-left: em(30);
  }
  @include mq(xlarge) {
    padding-left: em(60);
    width: em(243);
  }
}

.sf-cont-det{
  background-color: $gray;
  padding-top: em(20);
  padding-bottom: em(20);
  text-align: center;
  @include mq(medium) {
  width: 33.33%;
  float: left;
  text-align: left;
  }
  @include mq(large) {
  width: auto;
  padding-top: 0;
  display: table-cell;
  vertical-align: top;  
  float: none;
  padding-top: em(44);
  padding-left: em(30);
  padding-bottom: 0;
  
  }
  @include mq(xlarge) {
    
    padding-left: em(58);
  }
}

.sf-link-list{
  li{
    a{
      display: inline-block;
      color: $white;
      text-decoration: none;
      font-size: em(17);
      line-height: em(27,17);
      font-weight: 600;
      &:hover{
        text-decoration:underline;
        color: $green;
      }
      &:focus{
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.sf-toll{
  font-size: em(17);
  font-weight: 600;
  margin:0;
   margin-bottom: em(5,17);
  line-height: normal;
  a{
    color: $white;
    text-decoration: none;
    &:hover{
      text-decoration:underline;
      color: $green;
    }
    &:focus{
      color: $white;
      text-decoration: none;
    }
  }
}

.sf-ph{
  font-size: em(17);
  font-weight: 600;
  margin:0;
  margin-bottom: em(5,17);
  line-height: normal;
  a{
    color: $white;
    text-decoration: none;
    &:hover{
      text-decoration:underline;
      color: $green;
    }
    &:focus{
      color: $white;
      text-decoration: none;
    }
  }
}

.sf-fax{
  font-size: em(17);
  font-weight: 600;
  margin:0;
  margin-bottom: em(36,17);
  line-height: normal;
  a{
    color: $white;
    text-decoration: none;
    cursor: text;
    &:hover{
      color: $white;
      text-decoration: none;
    }
    &:focus{
      color: $white;
      text-decoration: none;
    }
  }
}

.sf-btn{
  padding:0;
  font-size: em(17);
  font-weight: 700;
  background-color: $green;
  color: $white;
  max-width: em(181,17);
  width: 100%;
  line-height: em(60,17);
  text-align: center;
  &:hover{
  background-color: $light-blue;
  color: $white; 
  }
  &:focus{
    background-color: $green;
    color: $white;
  }
}

.sf-small {
  background-color: $medium-gray;
  text-align: center;
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
}

.sm-footer{
  clear: both;
  width: 100%;
  background-color: $blue;
  color: $white;
  padding-top: em(19);
  padding-bottom: em(16);
}

.sf-copyright{
  text-align: center;
  font-size: em(17);
  a{
    color: $white;
    &:hover{
      color:$green;
    }
    &:focus{
      color: $white;
    }
  }
  span{
    margin:0 em(3,17);
  }
  @include mq(large) {
    width: 50%;
    float: left;
    text-align: left;
  }
}

.sf-created{
  text-align: center;
  font-size: em(17);
  a{
    color: $white;
    &:hover{
      color:$green;
    }
    &:focus{
      color: $white;
    }
  }

  @include mq(large) {
    width: 50%;
    float: left;
    text-align: right;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}

/*@media only screen and (max-width: 1365px) and (min-width: 1280px){}*/

/*=============== IE ===============*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .sh-email{
    @include mq(large) {
      &:before{
        width: 18px;
        height: 14px;
        background-size: 18px 14px;
      }
    }
    @include mq(xlarge) {
      &:before{
        width: 20px;
        height: 16px;
        background-size: 20px 16px;
      }
    }
  }

  .sh-ph{
    @include mq(large) {
      &:before{
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
      }
    }
    @include mq(xlarge) {
      &:before{
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
      }
    }
  }

  .sh-ico-search {
    @include mq(large) {
      width: 18px;
      height: 18px;
      background-size: 18px 18px; 
    }
  }

  .obm-time{
    @include mq(large) {
      &:before{
        width: 17px;
        height: 17px;
        background-size: 17px 17px;
      }
    }
    @include mq(xlarge) {
      &:before{
        width: 19px;
        height: 19px;
        background-size: 19px 19px;
      }
    }
  }

}
/*=============== Edge ===============*/
@supports (-ms-ime-align:auto) {

  .sh-email{
    @include mq(large) {
      &:before{
        width: 18px;
        height: 14px;
        background-size: 18px 14px;
      }
    }
    @include mq(xlarge) {
      &:before{
        width: 20px;
        height: 16px;
        background-size: 20px 16px;
      }
    }
  }

  .sh-ph{
    @include mq(large) {
      &:before{
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
      }
    }
    @include mq(xlarge) {
      &:before{
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
      }
    }
  }

  .sh-ico-search {
    @include mq(large) {
      width: 18px;
      height: 18px;
      background-size: 18px 18px; 
    }
  }

  .obm-time{
    @include mq(large) {
      &:before{
        width: 17px;
        height: 17px;
        background-size: 17px 17px;
      }
    }
    @include mq(xlarge) {
      &:before{
        width: 19px;
        height: 19px;
        background-size: 19px 19px;
      }
    }
  }
  
}
.gmap{
    iframe{
        width: em(450);
        height: em(350);
        max-width: 100%;
        border: 1px solid black;
    }
    @include mq(medium){
        text-align: right;
    }
}
.sitemap-menu{
 .sub-menu{
   padding-left: em(20);
 }
}
.image-gallery-module{
  .inner-wrap{
    padding-top: 0! important;
    padding-bottom: 0 !important;
  }
}
.full-width-cta{
  .inner-wrap{
    padding-top: 0! important;
    padding-bottom: 0 !important;
  }
}

.sitemap{
#breadcrumbs{
  display: none;
}}

/*
Back to top button 
*/
#back-top {
    position: fixed;
    bottom: 10px;
    margin: 0;
    padding: 0;
    right: 10px;
    @include mq(large){
        bottom: 60px;
        right: 60px;
    }
}
#back-top a {
    cursor: pointer;
    display: block;
    font-size: 0;
    overflow: hidden;
    border:1px solid rgba(255,255,255,.5);
    background-color: rgb(0,113,239);
    border-radius: 4px;
    -webkit-transition: opacity .6s cubic-bezier(.35,.75,.59,.93);
    transition: opacity .6s cubic-bezier(.35,.75,.59,.93);
}
/* arrow icon (span tag) */
#back-top span {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    display: block;
    background: url(img/arrow-up.png) repeat-y center center;
}

#back-top a:hover span{
    opacity: 1;
    background-position-y:-84px;
    -webkit-transition: background-position-y 1s cubic-bezier(.35,.75,.59,.93);
    transition: background-position-y 1s cubic-bezier(.35,.75,.59,.93);
}
#back-top a:hover span {
    background-position-y: -60px;
}

.home{
  #back-top{
    display: none!important;
  }
}
.bredSpace::before {
      content: "";
      height: 13em !important;
      margin-top: -13em !important;
      z-index: 1;
      display: block;
  }

  .m3-img{
    position: relative;
    z-index: 9;
  }



/*======== Product Hover Module ========*/

.Product-hover-module{
  //text-align: center;
  position: relative;

  .inner-wrap{
    padding-top: em(60);
    padding-bottom: em(74);
    position: relative;
    z-index: 1;
}
@include mq(large){
    &:after{
      position:absolute;
      content: '';
      width: 100%;
      height: 2px;
      left: 0;
      bottom: em(170);
      /*background-color: $light-yellow;*/
      z-index: 0;
  }
}
@include mq(xlarge){
    &:after{
      bottom: em(190);
  }
}
}

.phm-title{
  text-align: center;
  color: $blue;
  font-size: $large-font-size;
  margin-bottom: em(4,36);
}

.phm-subtitle{
  font-size: em(16);
  text-transform: uppercase;
  text-decoration: none;
  color: $medium-gray;
  line-height: em(32,16);
  &:hover{
    color: #faa61a;
}
}

.phm-items-wrap{
  margin-top: em(41);
}

.phm-item{
  display: block;
  margin: auto;
  margin-bottom: em(32,18);
  position: relative;
  max-width: em(360,18);
  width: 100%;
  overflow: hidden;
  &:hover,&:focus{
    .phmc-title{
      color:#ffffff;
      @include mq(large){
          margin-bottom: 0;
      }
  }

  .up-title{
   @include mq(large){
      opacity: 0;
  }
}

}
&:focus{
    color: $blue;
}
@include mq(medium){
    max-width: 17em;
    display: inline-block;
    margin-right: em(20,18);
    &:last-child{
      margin-right:0;
  }
}
@include mq(large){
    margin-bottom: 0;
    &:hover,&:focus{
      .phm-content{
        opacity: 1;
    }
}
}
@include mq(xlarge){
    max-width: 22em;
}
}

.phm-img{
  max-height: em(360,18);
  img{
    mix-blend-mode: luminosity;
    display: block;
    width:100%; 
}
}

.phm-content{
  opacity: 0;
  position: absolute;
  left: 0;
  top: em(-14,18);
  bottom: em(-18,18);
  width: 100%;
  background-color: rgba(#174993 ,0.80);
  padding: em(24,18);
  padding-top: em(32,18);
  opacity: 0;
  @include transition(0.25s ease-in-out all);
  &:after{
    position:absolute;
    content: '';
    width: em(250,18);
    height: em(96,18);
    top: em(4,18);
    right: 0;
    left: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    z-index: 0;
    background-size: em(250,18) em(96,18);
}
.phmc-title{
    position: relative;
    border: 0;
    padding: em(24,32);
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: em(11,32);
    z-index: 2;
    background-color: transparent;
}
@include mq(large){
    padding-top: em(115,18);
    text-align: center;
    &:after{
      width: em(326,18);
      height: em(150,18);
      right: em(13,18);
      left: auto;
      background-size: em(326,18) em(150,18)
  }
}
}

.phmc-title{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1em;
  background-color: rgba(#174993 ,0.80);
  padding: em(15,20) em(34,20);
  margin: 0;
  min-height: em(91.75,22.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  @include mq(xlarge){
    font-size: 1em;
    line-height: em(40,32);
    font-weight: 700;
    padding: em(15,32) em(36,32);
    min-height: em(112,32);
}
}

.phmc-txt{
  font-size: em(18,18);
  font-family: $header-font-family;
  line-height: em(26,18);
  margin: 0;
}

.btn-phmc{
  padding: 0;
  font-size: em(16,18);
  color:#ffffff;
  line-height: em(38,16);
  max-width: em(168,16);
  width: 100%;
  margin-top: em(33,16);
  border: 1px solid #ffffff;
  padding: 10px 20px 10px 20px;
  @include mq(large){
    margin-top: 0;
}
@include mq(xlarge){
    margin-top: em(18,16);
}
&:hover{
    color:$white;
    background-color: transparent;
}
&:focus{
    color: transparent;
}
}


/*======== Product Hover Module end ========*/





/*======== Why Work With Us Module ========*/
.why-work-module{
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  &:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    opacity: 0.4;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  .inner-wrap{
    padding-top: em(115);
    padding-bottom: em(120);
  }
}

.wwm-title{
  text-transform: inherit;
  color: $white;
  @include mq(large){
    font-size: em(35);
  }
}

.wwm-content{
  max-width: em(657);
  margin: auto;
}

.wwm-txt{
  color: $white;
  line-height: em(23,17);
  margin-bottom: em(23,17);
}

.btn-wwm{
  padding: 0;
  max-width: em(236,17);
  width: 100%;
  line-height: em(56,17);
  &:hover{
    padding:0;
    line-height: em(60,17);
  }
  &:focus{
    padding: 0;
    line-height: em(56,17);
  }
  @include mq(mediumv){
    line-height: 46px;
    &:hover{
      line-height: 50px;
    }
    &:focus{
      line-height: 46px;
    }
  }
}
.manufacturer-logo-module{
  .mlm-logo{
    @include display(flex);
    @include flex-wrap(wrap);
    width: 100%;
    text-align: center;

    .mlm-item{
      width: 48.3%;
      margin-right: em(10);
      border: 1px solid #000;
      margin-bottom: em(10);
      img{
        height: em(165);
      }
      @include mq(small){
        &:nth-child(even){
          margin-right: 0;
        }
      }
      @include mq(medium){
        width: 31.7%;
      }
      @include mq(large){
        width: 19.1%;
        &:nth-of-type(5){
        margin-right: 0;
      }
      }
    }
    .mlm-caption{
      padding-top: em(5);
      color: #174993;
    }
  }
  .inner-wrap{
    padding-top: em(15);
    padding-bottom: em(30);
  }
}
.wwm-cert{
  @include display(flex);
  @include justify-content(center);
  @include flex-wrap(wrap);
  width: 100%;
  text-align: center;
  margin-top: em(60);
  @include mq(large){
    @include flex-wrap(nowrap);
  }
}

.wwmc-item{
  background-color: $white;
  width: 75%;
  position: relative;
  @include display(flex);
  padding: em(13) 0;
  /* transform: skew(-11.5deg); */
  margin-bottom: em(16);
  min-height: em(96);
  &:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: $white;*/
    background-blend-mode: luminosity;
    opacity: 0.45;
    @include transition(0.25s all linear);
  }
  &:hover{
      filter: grayscale(1);
  }
  > * {
    /* transform: skew(11.5deg); */
  }

  @include mq(medium){
    width: 35%;
    margin-right: em(22);
    &:last-child{
      margin-right:0;
    }
  }
  @include mq(large){
    width: em(230);
    margin-bottom: 0;
  }
}

.wwmc-img{
  display: block;
  margin: auto;
  /*filter: grayscale(1);*/
  object-fit: scale-down;
  width: 204px;
  height: 70px;
}
.c-td td{
  border-bottom: 5px solid #e7ebef !important;
}
.tm-heading {
  margin-bottom: -14px !important;
}
.page-id-1233{
  .Product-hover-module{
    .inner-wrap{
      padding-top: 0;
    }
    .phm-items-wrap{
     margin-top: 1.2em;
    }
  }
}
.page-id-9{
  .site-content{
    margin-bottom: em(25);
  }
}
.img-center {
    @include mq(small) {
        display: block;
        padding-bottom: 0.5em;
        text-align: center;
        margin: 0px auto;
    }
}

.page-id-1258 {
    .wp-caption {
        @include mq(small) {
            width: auto !important;
        }
    }

    .wp-caption-text {
        @include mq(small) {
            margin-top: 0;
        }
    }
}
.img-center{
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
  z-index: 2;
  @include mq(medium){
    margin-left: em(10);
  }
}
.destination{
  h2{
    margin-top: 30px;
  }
}