//Site Nav
.site-nav,
#hs_menu_wrapper_primary_nav {
  background-color: $nav-background-mobile;
  span {
    white-space: nowrap;
  }
  &.active {
    //display:block;
  }
  @include mq(large) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background-color: $nav-background;
  }
}

.sn-level-1,
#hs_menu_wrapper_primary_nav > ul {
  margin: 0;
  padding: 0;
  @include mq(large) {
    height: $nav-height;
    @include display(flex); //display: flex;
  }
}

.sn-li-l1,
.hs-menu-depth-1 {
  display: block;
  border-bottom: $nav-border-mobile;
  background-color: $nav-background;
  position: relative;
  // a.active {
  //   background-color: $nav-active-background-mobile;
  // }
  span {
    font-size: $nav-font-size-mobile;
  }
  > a {
    display: block;
    height: $nav-height;
    line-height: $nav-height;
    color: $nav-text-color-mobile;
    text-decoration: none;
    padding: 0 $nav-spacing-mobile;
    font-weight: 700;
    text-transform: uppercase;
    &:visited {
      color: $nav-text-color;
    }
    &.active {
      //background-color: $nav-active-background-mobile;
    }
    &:focus,
    &:hover {
      color: $nav-text-color-hover-mobile;
    }
  }
  &.has-subnav,
  &.menu-item-has-children,
  &.hs-item-has-children {
    .m-subnav-arrow {
      cursor: pointer;
      padding-right: 0em;
      background-image: url(img/dropdown-arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(10,17);
      display: block;
      width: 40px;
      height: 60px;
      position: absolute;
      background-color: darken($nav-background-mobile, 3%);
      right: 0;
      top: 0;
      bottom: 0;
      &.active {
        transform: rotate(180deg);
      }
    }
    > a {
      span {      
        display: block;
      }
      &.active {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.active{
    background-color: $nav-hover-mobile;
  }
  &:focus,
  &:hover {
    background-color: $nav-hover-mobile;
  }
  @include mq(large) {
    height: $nav-height;
    float: left;
    border-bottom: 0;
    border-right:0;
    @include flex-grow(1); //flex-grow: 1;
    text-align:center;
    span {
      font-size: $nav-font-size;
    }
    > a {
      padding: 0 $nav-spacing;
      color: $nav-text-color;
      &:hover {
        color: $nav-text-color-hover;
      }
    }
    &:focus,
    &:hover {
      .sn-level-2,
      .hs-menu-children-wrapper {
        display: block;
      }
    }
    &.has-subnav,
    &.menu-item-has-children,
    &.hs-item-has-children {
      .m-subnav-arrow {
        display: none;
      }
      > a {
        span {
          display: inline;
        }
        &.active {
          span {
            background-image: url(img/ico-arrow-down.svg);
          }
        }
      }
    }
    &:focus,
    &:hover {
      background-color: $nav-hover;
    }
  }
}

.sn-level-2,
.hs-menu-children-wrapper {
  padding: 0;
  margin: 0;
  display: none;
  position: relative;
  &.active {
    display: block;
  }
  @include mq(large) {
    position: absolute;
    min-width: em(242);
    width: 100%;
    z-index: 4;
    text-align: left;
    &.active {
      display: none;
    }
  }
}

.sn-li-l2,
.hs-menu-depth-2 {
  background-color: $nav-subnav-background-mobile;
  position: relative;
  > a {
    //background-color:red;
    padding: 0 $nav-spacing-mobile;
    color: $nav-text-color;
    border-top: solid 1px $blue;
    display: block;
    text-decoration: none;
    line-height: $nav-height;
    
    span {
      font-size: $nav-subnav-font-size-mobile;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &.has-subnav,
  &.menu-item-has-children,
  &.hs-item-has-children {
    .m-subnav-arrow {
      height: 61px;
    }
  }
  &:last-child {
    > a {
      border-bottom: 0;
    }
  }
  &.active{
    background-color: $nav-hover-mobile;
    &.has-subnav,
    &.menu-item-has-children,
    &.hs-item-has-children {
      .m-subnav-arrow {
        height: 63px;
      }
    }
  }
  &:focus,
  &:hover {
    background-color: $nav-subnav-hover-mobile;
  }
  @include mq(large) {
    position:relative;
    background-color: $nav-subnav-background;
    
    &:after{
      content:'';
      width:em(9);
      height: 100%;
      background-color: $green;
      position: absolute;
      top: 0;
      right: em(-9);
      opacity: 0; 
      @include transition(all .25s linear);
    }
    > a {
      padding: 0 em(20);
      line-height: $nav-subnav-height;
      border-top:solid 1px rgba($white,0.11);
      border-right:0;
      span {
        font-size: $nav-subnav-font-size;
      }
    }
    &.has-subnav,
    &.menu-item-has-children,
    &.hs-item-has-children {
      &:after{
        display:none;
      }
    }
    &:focus,
    &:hover {
      background-color: $nav-subnav-hover;
      &:after{
        opacity:1;
      }
      .sn-level-3 {
        display: block;
        margin:em(-25);
        padding:em(25);
      }
    }
  }
  @include mq(xlarge) {
    > a {
      padding: 0 em(30);
    }
  }
}

.sn-level-3 {
  //background-color:green;
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  // border-left: 1px solid lighten($nav-hover, 10%);
  &.active {
    display: block;
  }
  @include mq(large) {
    position: absolute;
    top: 0;
    left: 100%;
    //width:22.5em;
    &.active {
      display: none;
    }
  }
}

.sn-li-l3 {
  @extend .sn-li-l2;
}

//Site Nav Container
.site-nav-container {
  background-color: transparent;
  width: $nav-width-mobile;
  height: 100%;
  //left:-20em;
  right: -$nav-width-mobile;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  @include transition(all .25s ease-in-out);
  &.active {
    right: 0;
  }
  @include mq(large) {
    width: auto;
    height: auto;
    right: auto;
    bottom: auto;
    top: auto;
    position: static;
    
  }
}

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  &.active {
    display: block;
  }
  @include mq(large) {
    display: none !important;
  }
}

.close-menu {
  display: inline-block;
  clear: both;
  font-size: em(17);
  position: relative;
  text-align: center;
  color: $white !important;
  padding: 0;
  padding-left: em(40,17);
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: em(31,17);
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &:after {
    content: '';
    background-color: transparent;
    background-image: url(img/close.svg);
    background-size: em(30,17) em(30,17);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: em(31,17);
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
  }
  @include mq(large) {
    display: none;
  }
}

.snc-header {
  text-align: right;
  background-color: $blue;
  padding: em(30) em(16) em(30) em(16);
  @include mq(large) {
    padding: 0;
    display: none;
  }
}
#nav-menu-item-1548{
  .sn-level-2{
    @include mq(large) {
     min-width: em(265) !important; 
    }
  }
}
.snc-footer {}
