// Inner Wrap

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width: em(1000);
}

.inner-wrap-wide {
  @extend .inner-wrap;
  max-width: em(1400);
}

.inner-wrap-fullwidth {
  @extend .inner-wrap;
  max-width: 100%;
}


/*=============== Sections ===============*/

.section-header-wrap {
  background-color: $light-gray;
  .inner-wrap {
    padding-top: $baseline*3;
    padding-bottom: $baseline*3;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}

.section-cta {
  text-align: center;
}


/*=============== Media Object ===============*/

.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*======= Responsive iFrame / YouTube / HTML5 Video =======*/

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 1.8em;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*=============== Click to Expand ===============*/

.click-expand {
  clear: both;
  border: 0;
  /*overflow: hidden;*/
  margin-bottom: em(24) !important;
  @include transition (all .2s ease-in-out);
  &.active {
    &:hover {
      //background-color: $white;
      .ce-header {
        //color:$blue;
      }
    }
    .ce-header {
      background-color: $green;
      &:after {
        background-image: url(img/minus-icon.png);
        background-size: em(13,20) em(3,20);
        top: 50%;
      }
    }
    .ce-body {
      display: block;
      opacity: 1;
      @include animation(click-expand .5s 1);
      @include animation-fill-mode(backwards);
      @include animation-delay(.05s);
      padding: em(24) em(20) em(30) em(30);
      display: block;
      @include margin-fix;
      background-color: $light-gray;
    }
  }
  &:hover {
    background-color: $base-border-color;
    .ce-header {
      //color:$white;
    }
  }
}

.ce-header {
  font-size: em(20);
  background-color: $light-blue;
  color: $white;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: em(17,20) em(24,20);
  &:after {
    content: '';
    background-image: url(img/plus-icon.png);
    background-size: em(13,20) em(13,20);
    top: 50%;
    transform: translateY(-50%);
    right: em(20,20);
    position: absolute;
    width: em(13,20);
    height: em(13,20);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
  &:focus{
    outline: none;
  }
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-link-color;
    outline-offset: 2px;
  }
}

.ce-body {
  display: none;
  opacity: 0;
}

@include keyframes(click-expand) {
  from {
    //@include transform(scale(0));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    opacity: 1;
  }
}


/*=============== Social Media Icons ===============*/

.social-wrap {
  overflow: hidden;
  a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    path {
      @include transition (all .1s linear);
    }
    &:hover {
      opacity: .75;
      path {
        fill: $blue;
      }
    }
  }
  img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle;
  }
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/
}


/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $dark-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: em(-340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $dark-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $dark-gray;
  min-width: 200px;
}


/*=============== Slide Box ===============*/

#last {
  margin: 0;
  padding: 0;
}

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: em(-430);
  z-index: 1000;
  width: 100%;
  background-color: $base-color;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}


/*=============== Accordion Tabs ===============*/

.accordion-tabs {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $large-screen: 959px;
  $tab-border: 1px solid $base-border-color;
  $tab-content-background: $off-white;
  $tab-active-background: $green;
  $tab-inactive-color: $white;
  $tab-inactive-hover-color: $white;
  $tab-mode: $large-screen;
  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0 !important;
  ;
  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
    border: $tab-border;
  }
  .tab-header-and-content {
    list-style: none;
    //font-size:1.15em;
    margin-bottom: 0;
    &:after {
      display: none;
    }
    @include media($tab-mode) {
      display: inline;
      vertical-align: bottom;
    }
    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }
    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }
  .tab-link {
    background-color: $light-blue;
    border-top: $tab-border;
    color: $white;
    display: block;
    font-weight: 700;
    font-size: em(18);
    padding: em(11,18) em(41,18);
    text-decoration: none;
    font-family: $header-font-family;
    border-bottom: 0;
    @include transition(all .25s linear);
    @include media($tab-mode) {
      display: inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
      margin-right: 1px;
    }
    &:hover {
      border-bottom: 0;
    }
    &:focus {
      outline: none;
    }
    &.is-active {
      background-color: $tab-active-background;
      @include media($tab-mode) {
        background-color: $tab-active-background;
        font-size: em(20);
        padding: em(13,20) em(37,20)
      }
    }
  }
  .tab-content {
    background: $tab-content-background;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    @include margin-fix;
    @include media($tab-mode) {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
    }
  }
}

/*=============== HubSpot Thumbnail Slider Gallery  ===============*/

.hs_cos_gallery_thumbnails {
  .hs_cos_gallery_slide {
    &:hover {
      cursor: pointer;
    }
  }
  img {
    height: em(60);
    object-fit: cover;
    border: 1px solid $base-border-color;
  }
  .slick-current {
    img {
      border: 1px solid $base-accent-color;
    }
  }
}

/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}


/*=============== Lightbox / Magnific Popup  ===============*/

.white-popup {
  position: relative;
  background: $white;
  padding: 2.5em;
  width: auto;
  max-width: em(600);
  margin: em(20) auto;
  > * {
    margin-top: 0;
  }
}

.mfp-fade-side {
  .mfp-content, .white-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}


/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  @include transition (all .5s ease-in-out);
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @include transition (all .5s ease-in-out);
  @include transform(translateY(100px));
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  @include transform(translateY(0px));
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  @include transform(translateY(100px));
}


/*=============== Layouts  ===============*/

.page-intro {
  background-color: $white;
  position: relative;
  &:before{
    content:'';
    width: 100%;
    height: 100%;
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.18;
  }
  .inner-wrap {
    padding-top:em(52);
    padding-bottom: em(41);
    position: relative;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}

.site-content {
  @include mq(large) {
    &.one-column {
      .site-content-primary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .site-content-secondary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.two-column {
      .site-content-primary {
        @include span-columns(9 of 12);
      }
      .site-content-secondary {
        @include span-columns(3 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.three-column {
      .site-content-primary {
        @include span-columns(4 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
      }
      .additional-content {
        @include span-columns(4 of 12);
        @include omega;
      }
    }
    &.two-column-alt {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
  }
}


/*=============== Product Grid ===============*/

.product-grid {
  clear: both;
}

.product-grid-item {
  font-size: .875em;
  text-decoration: none;
  text-align: center;
  background-color: $white;
  padding: $baseline*2;
  border-bottom: $base-border;
  border-right: $base-border;
  overflow: hidden;
  display: block;
  @include transition (all .15s ease-in-out);
  &:hover {
    //background-color: $light-gray;
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
    .product-grid-item-img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      transform: scale(1.07);
    }
  }
  @include mq(medium) {
    font-size: .75em;
    margin-bottom: $baseline*3;
  }
  @include mq(large) {
    font-size: 1em;
  }
  @include mq(huge) {}
}

.product-grid-item-header-wrap {
  @include mq(medium) {
    height: 4em;
    line-height: 4em;
    margin-bottom: $baseline*2;
    .product-grid-item-header {
      display: inline-block;
      vertical-align: middle;
    }
  }
  @include mq(large) {
    height: 4em;
    line-height: 4em;
  }
}

.product-grid-item-header {
  font-size: em(18);
  color: $base-color;
  text-decoration: none;
  margin: 0 0 0 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
}

.product-grid-item-subheader {
  color: $black;
  margin: 0 0 $baseline*2 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  font-size: em(15);
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
  @include mq(large) {
    min-height: $baseline*6;
  }
}

.product-grid-item-img {
  float: left;
  width: 25%;
  margin-top: -1em;
  display: block;
  margin: 0 auto;
  @include transition (all .15s ease-in-out);
  @include mq(medium) {
    margin-top: 0;
    float: none;
    width: auto;
  }
}

.product-grid-item-link {
  margin: $baseline*2 0 0 0;
  float: right;
  text-align: left;
  clear: none;
  @extend .btn;
  font-size: .75em;
  @include mq(medium) {
    //@extend .small-font-size;
    width: auto;
    float: none;
    text-align: center;
  }
}


/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
  @include mq(small) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}


/*=============== Resources Module ===============*/

.resources-module {
  background-color: $white;
}

.rm-item-wrap {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include mq(medium) {
    @include flex-wrap(nowrap);
  }
  > * {
    @include flex(auto);
    @include mq(medium) {
      @include flex(1);
    }
  }
}

.rm-item {
  text-align: center;
  //background-color: $light-gray;
  background-color: $light-gray;
  padding: 1em !important;
  &:hover {
    .rm-item-img {
      @include transform(scale(1.05));
    }
  }
  @include mq(medium) {
    margin-bottom: 0;
  }
}

.rm-item-cta {
  font-size: .75em;
  // padding: 0.5em 1em;
  font-weight: bold;
}

.rm-item-img {
  @include transition(all .15s ease-in-out);
  margin-bottom: $baseline*2;
  img {
    max-width: 100%;
    object-fit: contain;
    height: 19.375em;
  }
}

.rm-item-title {
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  //background-color:red;
  height: 2.5em;
  line-height: 2.5em;
  color: $base-color;
  position: relative;
  z-index: 10;
  span {
    line-height: 1.25em;
    display: inline-block;
    color: $base-color;
  }
  // &:after {
  //     content: '';
  //     position: relative;
  //     display:inline-block;
  //    // background-color:red;
  //     width: .75em;
  //     height:.75em;
  //     margin-left:.25em;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-image: url(http://cdn2.hubspot.net/hubfs/1793355/img/ico-arrow-orange.svg);
  //   }
}


/*=============== Pattern Page Module ===============*/
.destination{
    /*padding-bottom: em(40);*/
  > .inner-wrap{
    padding-top: em(25);
    padding-bottom: 0;
  }
}

.image-gallery-with-thumbs{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.multiple-cols-module{
  .inner-wrap{
    //padding-top: 0;
    padding-bottom: 0;
  }
}
.accordian-tabs-module{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.click-expand-module{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.tabular-data{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.text-media-module{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.full-width-cta-test{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.product-grid-module{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.content-img-slider{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.addition-cap-module{
  .inner-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.breadcrumb-menu{
  font-size: em(14);
  margin-bottom: em(18,14);
  span{
    span{
      span{
        margin-left: em(7,14);
      }
    }
  }
  a{
    margin-right: em(7,14);
    color: $blue;
    &:hover{
      color:$green;
    }
    &:focus{
      color: $blue;
    }
  }
  .breadcrumb_last{
    margin-left: em(7,14);
  }
}

.blockquote-text-wrap{
  background-color: $off-white;
  position: relative;
  padding: em(29) em(48) em(32) em(110);
  margin-top: em(53);
  margin-bottom: em(62);
  &:after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: $off-white;
  }
  &:before{
    content:'';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -26%;
    background-color: $green;
  }

  p{
    font-family: $header-font-family;
    font-size: em(20);
    line-height: em(34,20);
    font-weight: 300;
    margin:0;
    @include mq(small){
      font-size: em(16);
      position: relative;
      left: em(32);
    }
  }
  @include mq(medium) {
    &:before{
      left: -36%;
    }
  }
  @include mq(large) {
    &:before{
      left: -41%;
    }
  }

  @include mq(xlarge) {
    padding: em(29) em(48) em(32) em(48);
    &:before{
    width: 100%;
    left: -98.3%;
    }
  }
}

.bt-quote{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  img{
    width: em(52);
    display: block;
  }
  
  @include mq(xlarge) {
    left: em(-84);
  }

  @media only screen and (max-width: 1366px) and (min-width: 1280px){
    left:em(-54);
  }
}

/*================ Dest Slider ============= */
.igt-wrap{
  width: 100%;
  
  @include mq(large) {
    float: left;
    margin-bottom: em(30);
  }
}

.igwt-left-sec{
  
  @include mq(large) {
   width: calc(100% - 29.25em);
   float: left;
   padding-right: em(70); 
  }
}

.igwt-innerpage-carousel {
  max-width: em(468);
  margin:0;
  width: 100%;
  position: relative;
  
  @include mq(large) {
    float: left;
  }
}

#sync1{
  
  .owl-nav{
    margin-top: 0;
    position: absolute;
    bottom: em(-56);
    height: em(45);
    right: 0;
    width: em(60);

    .owl-prev{
      display: none;
    }

    .owl-next{
      width: em(30);
      height: 100%;
      background-image: url(img/mm-next-icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(19) em(34);
      margin:0;
      transform: none;
      span{
        display: none;
      }

      &:hover{
        background: transparent !important;
        background-image: url(img/mm-next-icon.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: em(19) em(34) !important;
      }
      &:focus {
        outline: none;
      }
      &:focus:not(:hover):not(:active) {
        outline: 2px dashed $base-link-color;
        outline-offset: 2px;
      }
    }
  }

  @include mq(medium) {
     .owl-nav{
      bottom: em(-80);
      height: em(70);
      right: 0;
      width: em(70);
     } 
  }
  @media only screen and (max-width: 360px) and (min-width: 320px){
    .owl-nav{
      bottom: em(-50);
      .owl-next{
        background-size: em(15);
        &:hover{
         background-size: em(15) !important; 
        }
      }
    }
  }
}
#sync2 {
  width: calc(100% - 3.75em);
  
  .item{
    border:solid 10px $white;
    border-top: solid 10px $white;
    border-left: 0;
    opacity: 0.50;

  }
   .current .item{
    /*border:solid 1px $red;*/
    opacity: 1;
  }


  @include mq(mediumv) {
    width: calc(100% - 5em);
  }
}


.column-subtext{
  font-family: $header-font-family;
  font-size: em(25);
  font-weight: 300;
}

.media-img{
  margin-bottom: em(30);
}


/*================ Full Width CTA ============= */

.fwc-sec-heading{
  margin-bottom: 16px !important;
}

.full-width-cta{
  background-size: cover;
  text-align: center;
  padding: em(59) 0;
}

.fwc-heading{
  font-size: em(30);
  color: $white;
  margin-bottom: em(30,30);
}


.fwc-btn{
  padding: 0;
  font-size: em(17);
  font-weight: 700;
  text-align: center;
  background-color: $white;
  color: $blue;
  max-width: em(170,17);
  width: 100%;
  line-height: em(50,17);
  &:hover{
  background-color: $green;
  color: $white;
  }
  &:focus{
    background-color: $white;
    color: $blue;
  }
}


/*================ Button Styles ============= */

.button-style-wrap{
  position: relative;
}

.btn-wrap{
  display: inline-block;
  vertical-align: middle;
  .btn-sm{
  margin-top:em(10,18);
  display: table;
  }
  @include mq(medium) {
    .btn-sm{
      margin:0;
      display: inline-block;
      margin-left:em(20,18);
    }
  }
}

.btn-color-wrap{
  background-color:$blue;
  max-width: em(300);
  width: 100%;
  text-align: center;
  padding: em(19) em(10);
  margin:em(10) 0;
  @include mq(medium) {
   padding: em(19) 0; 
  }
 @include mq(large) {
  display: inline-block;
  vertical-align: middle;
  margin:0 em(18);
 }
}


/*================ product grid ============= */
.product-list-grid-module{
  width: 100%;
  display: table;
  text-align: center;
  @include mq(xlarge) {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
  }
}
.bucket{
  @include mq(medium){
    max-width: 580px;
    margin: 0 auto;
  }
   @include mq(large){
    max-width: unset;
    margin: 0 auto;
  }
}
.pgm-item{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin:0 auto;
  margin-left: em(12);
  margin-right: em(12);
  margin-bottom: em(20);
  font-weight: 400;
  text-decoration: underline;
  overflow: hidden;
  @include mq(medium){
  max-width: em(247);
  }
  @include mq(large){
  max-width: 22.1%;
  }
  &:hover{
    .pgm-item-img{
    img{
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      transform: scale(1.07);
    }
    }
  }
  

  @include mq(xlarge) {
    &:nth-of-type(1){
    margin-left: 0;
    }
    &:nth-of-type(4n){
      margin-right: 0;
    }
    &:nth-of-type(4n+1){
      margin-left: 0;
    }
  }
}

.pgm-item-img{
  overflow: hidden;
  margin-bottom: em(10);
  height: em(263);
 /* background:#e1e1e1;*/
  display: table;
  width: 100%;
  @include transition (all .15s ease-in-out);
  /*border: solid 1px #eee;*/
  span{
    display: table-cell;
    vertical-align: middle;
  }

  img{
    display: block;
    margin:0 auto;
    @include transition (all .15s ease-in-out);
  }
}


.pgm-link{
  font-size: em(17);
  @include mq(medium){
    display: block;
    margin: 0px auto;
    min-height: em(38);
  }
  @include mq(large){
    min-height: em(50);
  }
}


/*================ form section ============= */
.gform_wrapper {
  position: relative;
  background-color: $pattern-gray;
  padding: em(20);
  .gform_title{
    display:none;
  }
  label{
    font-weight: 400!important;
  }

}
input[type="file"] {
    padding-bottom: 0 !important;
}
#input_2_6{
      background-color: #e7ebef;
    border: solid 1px #e7ebef;
  }
  .gform_wrapper label.gfield_label, .gform_wrapper legend.gfield_label {
    font-weight: 400!important;
    font-size: inherit;
}


.gfield_label{
    font-weight: normal;
    font-size: em(15);
    margin-bottom: em(3,15);
    color: $gray;
    font-weight: 400;
  }
.gf_left_half {
  
  @include mq(large) {
    display: inline-block;
    width: 50%;
    padding-right: em(16);
  }
}
.gf_right_half {
  
  @include mq(large) {
    width: 50%;
    display: inline-block;
  }
}

.gform_body{
  input, select{
        font-size: em(14) !important;
        height: em(38,14) !important;
        background-color: $white; 
        border: solid 1px $white;
        box-shadow: none;
        color: rgba($dark-gray,0.60);

        &:focus{
          outline:none;
          box-shadow: none;
        }
      }
}

.gform_footer{
  text-align: center;
}


.gform_button {
  padding:em(14,17) em(43,17) !important;
}


/*============Side Navigation Test==============*/
.side-nav {
  max-width: em(240);
  h3 {
    margin-top: 0;
  }
}
.sn-nav {
  //border:solid 1px $blue;
  li {
    background-color: $light-blue;
    border-bottom: 1px solid rgba($white,0.30);
    position: relative;
    a {
      color: $white;
      display: block;
      font-size: em(17);
      line-height: em(24,17);
      text-decoration: none;
      font-weight: 400;
      padding: em(11,17) em(40,17) em(11,17) em(16,17);
    }
    &:hover, &.active{
      background-color: $green;
      a {
      color: $white;
      }
      
    }
    &.active{
      border-bottom: 0;
      background-color: $green;
      .m-subnav-arrows{
        transform: rotate(180deg);
      }

    }

  }
  .menu-item-has-children {
    .m-subnav-arrows {
      cursor: pointer;
      padding-right: 0em;
      background-image: url(img/dropdown-arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(10,17) em(5,17);
      display: block;
      width: em(40,17);
      height: em(46,17);
      //height: $nav-height;
      position: absolute;
      background-color: transparent;
      right: 0;
      top: 0;
      bottom: 0;
      &.active {
        transform: rotate(180deg);
      }
    }
    ul {
      margin-bottom: 0;
      padding:0;
      display: none;
      li {
        margin-bottom: 0;
        background-color:$pattern-gray;
        border-bottom: 0;
        a {
          color: $gray;
          font-size: em(17);
          padding: em(5,17) em(40,17) em(5,17) em(16,17);     
          line-height: em(26,17);
          text-transform: initial;
          &:hover{
            background-color:$green;
            color: $white;
          }
        }
        &:not([class]) { 
          margin-bottom: 0;
          padding:0;
          &:after {
            display:none;
          }
        }
      /*  &:hover {
          background-color: #f7941d;
          a {
            color: $white;
          }
        }*/
      }
      &:not([class]) {
        margin-bottom: 0;
      }
    }
    ul {
      &.active {
        display:block;
      }
    }
  }
} 

.gform_wrapper .gfield_required {
    color: #000000!important;
   
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit]{
  width: auto !important;
}    