body {
  //@include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 1em;
  line-height: $base-line-height;
  @include mq(mediumv) {
    font-size:.875em;
  }
  @include mq(smallv) {
    font-size:.75em;
  }
}

//Base Fonts
@mixin base-font-size {
  font-size: em(16);
  @include mq(medium) {
    font-size: em(18);
  }
  @include mq(large) {
    font-size: em(18);
  }
}

//Medium Fonts
@mixin medium-font-size {
  font-size: em(16);
  @include mq(medium) {
    font-size: em(18);
  }
  @include mq(large) {
    font-size: $medium-font-size;
  }
}

//Large Fonts
@mixin large-font-size {
  font-size: $medium-font-size*.75;
  @include mq(medium) {
    font-size: $medium-font-size*.9;
  }
  @include mq(large) {
    font-size: $large-font-size;
  }
}

//xLarge Fonts
@mixin xlarge-font-size {
  font-size: $xlarge-font-size*.75;
  @include mq(medium) {
    font-size: $xlarge-font-size*.9;
  }
  @include mq(large) {
    font-size: $xlarge-font-size;
  }
}

//Display Fonts
@mixin display-font-size {
  font-size: $display-font-size*.75;
  @include mq(medium) {
    font-size: $display-font-size*.9;
  }
  @include mq(large) {
    font-size: $display-font-size;
  }
}

.display-font-size {
  @include display-font-size;
}

.xlarge-font-size {
  @include xlarge-font-size;
}

.large-font-size {
  @include large-font-size;
}

.medium-font-size {
  @include medium-font-size;
  margin-bottom: $baseline*4;
  margin-top: $baseline*3.5;
}

.base-font-size {
  @include base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
}

h1 {
  font-size: $display-font-size;
  margin-top: 0;
  margin-bottom: 24px;
  color: $blue;

}

h2 {
  font-size: $xlarge-font-size;
  margin-top: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
}

h3 {
  font-size: $large-font-size;
  margin-top: 0;
  margin-bottom: 16px;
}
h4 {
  font-size: em(25);
  margin-top: 0;
  margin-bottom: 16px;
}

h5 {
  font-size: em(22);
  margin-top: 0;
  margin-bottom: 16px;
}

h6 {
  font-size: em(20);
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
}

p {
  font-size:em(17);
  line-height: em(27,17);
  margin: 16px 0;
  
}

.emph {
  font-family: $header-font-family;
  font-size: em(26);
  font-weight: 300;
  line-height: em(38,26);
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: underline;
 &:focus,
 &:hover {
    color: $hover-link-color;
  }
  &:active,
  &:focus {
    color: $base-link-color;
    outline: none;
  }
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-link-color;
    outline-offset: 2px;
  }
}
.sn-li-l1, .sn-li-l2 a{
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed #1d1d1d;
    outline-offset: 2px;
  }
}
hr {
  display: block;
  clear: both;
  border-bottom: solid 2px #b7b7b7;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: em(30) 0 em(30) !important;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0;
  margin: 0;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  &:before {
    content: "\2014 \00A0";
  }
}
